mixin formError()

    -
        if(undefined === attributes.form) {
            throw new Error('form has no attribute form');
        }

    if form && form.errors
        ul.form-error
            each errors,key in form.errors
                each error in errors
                    li(class='form-error form-error-' + key)=trans(error.message)
