mixin formError()

    -
        if(undefined === attributes.form) {
            throw new Error('form has no attribute form');
        }

    if form && form.errors
        ul
            each error,key in form.errors
                li(class=key)=trans(error)
