mixin textfield()

    -
        if(undefined === attributes.name) {
            throw new Error('textfield has no attribute name');
        }

        if(undefined === attributes.form) {
            throw new Error('textfield has no attribute form');
        }

        if(attributes.form.instance && attributes.form.instance[attributes.name]) {
            attributes.value = attributes.form.instance[attributes.name];
        }

        if(!attributes.autocomplete) attributes.autocomplete = 'off';
        if(!attributes.autocapitalize) attributes.autocapitalize = 'off';
        if(!attributes.spellcheck) attributes.spellcheck = 'false';

        delete attributes.form;

    input&attributes(attributes)
