extends ../layout/default.pug

block head
    meta(name="description" content="Jeneric")
    title Jeneric

block body
    h1 Welcome to Jeneric

    h2 Mixins
    h3 Error

    +error(errors=errors)

    h2 View helper
